<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.douniamastoura.macndour.douniamastourashop" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DmSplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DmMainActivity"
            android:label="@string/title_activity_dm_main"
            android:configChanges="screenSize|orientation">
        </activity>
        <activity
            android:name=".DmViewPagerProductListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_dm_view_pager_product" >
        </activity>
        <activity
            android:name=".DmProductDetailActivity"
            android:label="@string/title_activity_dm_product_detail" >
        </activity>
        <activity
            android:name=".DmBasketActivity"
            android:label="@string/title_activity_dm_basket" >
        </activity>
    </application>

</manifest>
